*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.fix{
    overflow: hidden;
}

.flexible-item{
    display: flex;
}
.orange-color{
    color: #fc9149;
}

/* Section-1 css */
#section-1{
    margin-bottom: 300px;
}
.section-1-child{

}
.section-1-child-item{
    margin-top: 200px;
    padding-left: 7%;
}

.section-1-heading h1{
    font-size: 60px;
    line-height: 78px;
    color: #575757;
    letter-spacing: -2%;
}
.section-1-child-item p{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -2%;
    margin-bottom: 75px;
    color: #a0a0a0;
    padding-top: 15px;
}

.btn-style{
    text-decoration: none;
    font-size: 17px;
    border-radius: 100px;
    padding: 20px 40px;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    margin-top: 50px;
    color: #ffeee5;
    box-shadow: 1px 1px 5px gray;
}
.section-1-child-image{
    margin-top: 50px;
}
.section-1-child-image img{
    position: absolute;
    width: 660px;
    height: 750px;
    padding-left: 5%;
}

/* Section 2 css */
#section-2{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
}
.section-2-child{}
.section-2-child-image{
    width: 50%;
}
.section-2-child-image img {
    width: 347px;
    padding-top: 50px;
    padding-left: 30%;
}
.section-2-child-item{
    width: 50%;
    margin-top: 127px;
    padding-left: 10%;
}
.section-2-child-item h2{
    color: #707070;
    font-size: 40px;
    line-height: 54px;
    font-weight: 700;
}
.section-2-child-item p{
    color: #151827;
    font-size: 18px;
    line-height: 32px;
    padding-top: 40px;
    width: 444px;
    font-weight: 500;
    padding-bottom: 50px;
}